<% wrap_layout :layout do %>
    <article class="clearfix">
      <h2>
        <div class="timestamp"><%= date_display current_article.date %></div>
        <%= current_article.title %>
      </h2>

      <ul class="tags">
        <% current_article.tags.each do |tag| %>
            <li><%= labeled_link tag, blog.tags[tag].size, tag_path(tag) %></li>
        <% end %>
      </ul>

      <%= yield %>

      <%= partial "disqus" %>
    </article>
<% end %>
