<% wrap_layout :layout do %>
    <% if prev_article = current_article.previous_article %>
        <% link_to prev_article, :id => 'prev', :class => "article-nav" do %>
            <i class=" icon-caret-left" title="<%= prev_article.title %>" data-toggle="tooltip"></i>
        <% end %>
    <% end %>

    <% if next_article = current_article.next_article %>
        <% link_to next_article, :class => 'article-nav', :id => 'next' do %>
            <i class=" icon-caret-right" title="<%= next_article.title %>"  data-toggle="tooltip"></i>
        <% end %>
    <% end %>

    <article class="block clearfix">
      <h3>
        <div class="timestamp"><%= date_display current_article.date %></div>
        <%= current_article.title %>
      </h3>

      <ul class="tags">
        <% current_article.tags.each do |tag| %>
            <li><%= labeled_link tag, blog.tags[tag].size, tag_path(tag) %></li>
        <% end %>
      </ul>

      <%= yield %>

      <%= partial "disqus" %>
    </article>
<% end %>
