<% content_for :keywords, current_article.tags.join(',') %>
<% wrap_layout :layout do %>
    <% if prev_article = current_article.previous_article %>
        <% link_to prev_article, :id => 'prev', :class => "article-nav" do %>
            <i class="fa fa-caret-left" title="<%= prev_article.title %>" data-toggle="tooltip" data-placement="right"></i>
        <% end %>
    <% end %>

    <% if next_article = current_article.next_article %>
        <% link_to next_article, :class => 'article-nav', :id => 'next' do %>
            <i class="fa fa-caret-right" title="<%= next_article.title %>"  data-toggle="tooltip" data-placement="left"></i>
        <% end %>
    <% end %>

    <article class="clearfix">
      <h3>
        <div class="timestamp"><%= date_display current_article.date %></div>
        <%= current_article.title %>
      </h3>

      <!-- JiaThis Button BEGIN -->
      <div class="jiathis_style_24x24 pull-right">
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_renren"></a>
      </div>
      <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
      <!-- JiaThis Button END -->

      <ul class="tags">
        <% current_article.tags.each do |tag| %>
            <li><%= labeled_link tag, blog.tags[tag].size, tag_path(tag) %></li>
        <% end %>
      </ul>

      <%= yield %>

      <% if prev_article = current_article.previous_article %>
          <% link_to prev_article, class: 'pull-left' do %>
              <i class="fa fa-angle-double-left"></i> 上一篇
          <% end %>
      <% end %>

      <% if next_article = current_article.next_article %>
          <% link_to next_article, class: 'pull-right' do %>
              下一篇 <i class="fa fa-angle-double-right"></i>
          <% end %>
      <% end %>

      <%= partial "disqus" %>
    </article>
<% end %>
