<aside class="col-md-2">
  <div class="list-group">
    <% blog.tags.reject { |tag| tag == 'Tech' }.each do |tag, articles| %>
        <a class="list-group-item <%= 'active' if tag == tagname %>" href="<%= tag_path(tag) %>">
          <span class="badge"><%= articles.size %></span>
          <%= tag %>
        </a>
    <% end %>
  </div>

  <!--<div class="list-group">-->
    <!--<% blog.articles.group_by { |a| a.date.year }.each do |year, articles| %>-->
        <!--<a class="list-group-item" href="<%= blog_year_path(year) %>">-->
          <!--<span class="badge"><%= articles.size %></span>-->
          <!--<%= "#{year}年" %>-->
        <!--</a>-->
    <!--<% end %>-->
  <!--</div>-->
</aside>
